
* {box-sizing:border-box}

.skillsbox {
  display: flex;
  align-items: center;
}

.container {
  width: 50%; 
  background-color: rgb(213, 255, 241); 
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: black; /* White text color */
  font-family: montserrat;
}

.html {width: 70%; background-color: aquamarine;}
.css {width: 80%; background-color: aquamarine;} 
.js {width: 50%; background-color: aquamarine;} 
.php {width: 20%; background-color: aquamarine;} 