
* {box-sizing:border-box}

.skilssbox {
  margin: 10px;
  border: 4px solid aquamarine;
  border-radius: 30px;
  padding-bottom: 20px;
  width: 30%;
  margin: 0 auto;
}

.container {
  width: 70%; 
  background-color: rgb(213, 255, 241); 
  margin: 0 auto;
  border-radius: 30px;
}

.skills {
  padding-top: 10px; 
  padding-bottom: 10px; 
  color: black; 
  font-family: montserrat;
  border-radius: 30px;
}

.html {width: 90%; background-color: aquamarine; padding-left: 10px;}
.css {width: 80%; background-color: aquamarine; padding-left: 10px;} 
.js {width: 50%; background-color: aquamarine; padding-left: 10px;} 
.figma {width: 70%; background-color: aquamarine; padding-left: 10px;} 

.skilltext {
  width: 65%;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 5px;
}

.skillp {
  padding-bottom: 50px;
}