
* {box-sizing:border-box}

.skilssbox {
  margin: 10px;
  border: 4px solid aquamarine;
  border-radius: 30px;
  padding-bottom: 20px;
  width: 50%;
  margin: 0 auto;
}

.container {
  width: 50%; 
  background-color: rgb(213, 255, 241); 
  margin: 0 auto;
}

.skills {
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: black; /* White text color */
  font-family: montserrat;
}

.html {width: 70%; background-color: aquamarine;}
.css {width: 80%; background-color: aquamarine;} 
.js {width: 50%; background-color: aquamarine;} 
.php {width: 20%; background-color: aquamarine;} 

.skilltext {
  width: 50%;
  text-align: left;
  padding-top: 10px;
}

.skillp {
  padding-bottom: 50px;
}