body {
    background-color: #eefffe;
    margin: 0px;
    border: 0px;
}

header {
    padding-top: 0px;
    background-color: aquamarine;
    width: 100%;
}

.home {
    color: black;
    text-decoration: none;
}

main {
    width: 100%;
}

h1 {
    font-family: "lovers quarrel";
    text-align: center;
    font-size: 4em;
    padding-top: 20px;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
}

.nav-container {
    background-color: rgb(213, 255, 241);
    position: sticky;
    top: 0;
}

.navbar a {
    color: black;
    padding: 15px;
    text-decoration: none;
    font-family: montserrat;
}

nav a:hover {
    background-color: aquamarine;
    margin: 5px;
    height: 5px;
    color: black;
    border-radius: 20px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 2%;
    padding-bottom: 10px;
    margin: 0 auto;
    text-align: center;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 30px;
    padding-bottom: 10px;
    margin: 0 auto;
    text-align: center;
}

p {
    font-family: montserrat;
    margin: 0 auto;
    width: 60%;
    text-align: justify;
    font-size: 1.2em;
}

img {
    width: 100%;
    margin: 0 auto;
}

.pic {
    width: 30%;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 40px;
}

.pic1 {
    margin: 0 auto;
    padding-bottom: 4%;
    display: flex;
}

.me {
    width: 50%;
    margin: 0 auto;
    padding-top: 3%;
}

footer {
    background-color: aquamarine;
    width: 100%;
    margin-top: 5%;
}

h4 {
    font-size: 2em;
    padding: 15px;
    margin: 0px;
    text-align: center;
    font-family: montserrat;
}

.formulier {
    width: 50%;
    padding: 20px;
    background-color: rgb(213, 255, 241);
    margin: 0 auto;
    border: 4px solid aquamarine;
    border-radius: 30px;
    font-family: montserrat;
    margin-top: 5%;
    margin-bottom: 5%;
}

.contactme {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.contactme a {
    color: black;
    text-decoration: none;
    font-family: montserrat;
    padding: 10px;
}

/*.motivaties {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}*/

.motivaties {
  display: flex;
  flex-direction: row; /* Horizontal on big screens */
  flex-wrap: wrap; /* Allows items to wrap if space is tight */
  gap: 15px; /* Spacing between items */
  justify-content: center;
}

/* Mobile Breakpoint */
@media (max-width: 600px) {
  .motivaties {
    flex-direction: column; /* Stacked on small screens */
  }
}

.moti {
    width: 30%;
    padding: 20px;
    background-color: rgb(213, 255, 241);
    margin: 10px;
    border: 4px solid aquamarine;
    border-radius: 30px;
}

.moti p {
    width: 90%;
    font-size: 1.1em;
}

.kwali {
    width: 50%;
    padding: 20px;
    background-color: rgb(213, 255, 241);
    margin: 0 auto;
    border: 4px solid aquamarine;
    border-radius: 30px;
}

.kwali p {
    width: 90%;
    font-size: 1.1em;
}

h5 {
    font-size: 1.5em;
    margin: 0px;
    text-align: center;
    font-family: montserrat;
    padding-bottom: 5px;
}

a {
    color: black;
    text-decoration: none;
    font-weight: 900;
}

.container2 {
    position: relative;
    text-align: center;
    color: aquamarine;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

.stroke {
    color: aquamarine;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.button {
    font-family: montserrat;
    background-color: rgb(213, 255, 241);
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 4px solid aquamarine;
    border-radius: 30px;
}